@charset "utf-8";
/* CSS Document */
body{
	background-color: #fff4df;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	/*background-image: url("smoke2.jpg");*/
	
	margin: 0px;
	overflow-y: auto;
}
main{
	display: flex;
	justify-content: center;
	height: 100vh;
	user-select: none;
}
*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
.topnav {
  overflow: hidden;
  background-color: #005D9B;
}

.topnav a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color:#FFF4DF;
  color: black;
}
.topnav .icon {
  display: none;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #005d9b;
   color: white;
   text-align: center;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
	color:#EFA82C;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
#logo{
	float:left;
}

#smoketrigger{
	max-width:600px;
	width:300px;
	border:3px solid ;
	background:#fff;
	padding:30px;
	margin:auto;
	height:330px;
}
/*#triggers{
	max-width:600px;
	width:400px;
	border:3px solid ;
	background:#fff;
	padding:30px;
	margin:auto;
	margin-bottom:500px;
	max-height: 1000px;
	height:400px;
	
}*/

#survey-form{
 margin: 0 auto;
 width: 100%;
 max-width: 1000px;
 padding: 15px;
 webkit-box-shadow: -2px 4px 11px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: -2px 4px 11px 0px rgba(0,0,0,0.75);
 box-shadow: -2px 4px 11px 0px rgba(0,0,0,0.75);
}
.form-group{
  width: 100%;
  margin: 0 auto 10px 0;
}


.form-control {
  display: block;
  background: var(--color-off-white);
  width: 100%;
  margin: 5px 0;
  padding: 10px 10px;
  border: 2px solid var(--color-mid-blue);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type=checkbox]{
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

textarea{
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  background-color: white;
}
@media screen and (max-width:749px){
  main{
    width: 100%;
    margin: 0 auto;
  }
  #survey-form{
     margin: 0 auto;
     width: 90%;
     padding: 10px;
     font-size: 0.8em;
}
    h1{
        font-size: 1.8em;
        line-height: 0.9;
        margin-bottom: 20px;
  }
  
    p, label{
      font-size: 0.9em;
  }
  
  .form-group{
  margin: 0 auto 5px 0;
}
  
}


#nextBtn {
  background-color: #005d9b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #005d9b;
}
.tab{
	display:none;
}
#d3{
	display: inline;
} 
#d2{
	display: inline
}
#d1{
	display: inline;
}
#box {
  width: 300px;
  height: 50px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
}
#buttons {
  margin-top: 50px;
 margin-right: 60px;
	
}

#frame{
  display:none;
  margin: 90px auto;
  width: 220px;
  height: auto;
  max-height: 50px;
  background: white;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;

}
#reasons{
	display: none;
	
}

.picture_container{
	border: 1px solid;
	width: 500px;
	height: 400px;
	background-image:url('images/Images for lesson 2/quitdate1.jpeg') ;
    filter: blur(2px);
	-webkit-filter:blur(2px); 
}

.picture_container1{
	border: 1px solid;
	width: 500px;
	height: 400px;
	
    filter: blur(2px);
	-webkit-filter:blur(2px); 
}

.picture_container2{
	border: 1px solid;
	width: 500px;
	height: 400px;
	background-image:url('quitbulb.jpeg') ;
    filter: blur(2px);
	-webkit-filter:blur(2px); 
}
.bg-text{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  color: white;
  position: absolute;
  top: 43%;
  left: 13.4%;
  width: 450px;
  z-index: 2;
  padding: 20px;
  text-align: center;
}
.bg-text1{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  color:mediumpurple;
  position: absolute;
  top: 29%;
  left: 13.4%;
  width: 450px;
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.bg-text2{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  color:mediumpurple;
  position: absolute;
  top: 29%;
  left: 13.4%;
  width: 450px;
  z-index: 2;
  padding: 20px;
  text-align: center;
}
#tryout{display:none;}
.button4 {border-radius: 12px;}
#yes, #no{
 background-color: mediumpurple; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#myDIV {
  display :none;
  width: 100%;
  padding: 50px 0;
  color: #89287c;
border-radius: 12px;
}
#myDIV1 {
  display :none;
  width: 100%;
  padding: 50px 0;
 background-color: white;
  color: #89287c;
  margin-top: 20px;
border-radius: 12px;
}
#myDIV2 {
  display :none;
  width: 500px;
  padding: 50px 0;
  color: #89287c;
  margin-top: 20px;
border-radius: 12px;
}



.campaign-signup.with-tooltip label {
  cursor: pointer;
}
.campaign-signup.with-tooltip input[type=checkbox] {
  vertical-align: middle;
}
.campaign-signup.with-tooltip a {
  text-decoration: none;
}
.campaign-signup.with-tooltip a i {
  text-decoration: none;
}
.campaign-signup.with-tooltip [data-tip] {
  position: relative;
  cursor: help;
}
.campaign-signup.with-tooltip [data-tip]:before {
  content: '';
  display: none;
  border: 5px solid #1a1a1a;
  border-top-color: #1a1a1a;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0px;
  left: 3px;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.campaign-signup.with-tooltip [data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: -35px;
  left: -0px;
  padding: 5px 8px;
  background: #89287c;
  color: #fff;
  z-index: 9;
  font-size: 13px;
  height: 105px;
width: 400px;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: normal;
  word-wrap: normal;
  text-align: center;
  text-decoration: none;
}
.campaign-signup.with-tooltip [data-tip]:hover:before,
.campaign-signup.with-tooltip [data-tip]:hover:after {
  display: block;
}
.campaign-signup.with-tooltip .tip-above[data-tip]:after {
  top: -108px;
  left: -101px;
  height: 92px;
  width: 510px;
}

.btn {
        background-color: #eee;
        background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
        border-radius: 3px;
        border: 1px solid #d5d5d5;
        color: #333;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
        font-size: .5rem;
        font-weight: bold;
        padding: 4px 6px 4px 6px;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
}
.control {
    background: none;
    border: none;
    cursor: pointer;
    height: 48px;
    outline: none;
    padding: 0;
    width: 48px;
}

#play {
	background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/play.svg);
}
#play.played {
	background-image: url("https://rpsthecoder.github.io/js-speech-synthesis/play1.svg");
}
#pause {
	background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/pause.svg);
}
#pause.paused {
	background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/pause1.svg);
}
#stop {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/stop.svg);
}
#stop.stopped {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/stop1.svg);
}

#play2 {
	background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/play.svg);
}
#play2.played {
	background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/play1.svg);
}
#pause2 {
	background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/pause.svg);
}
#pause2.paused {
	background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/pause1.svg);
}
#stop2 {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/stop.svg);
}
#stop2.stopped {
    background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/stop1.svg);
}





@media (max-width: 700px) {
    html {
        font-size: 14pt;
    }
	 article {
        width: 90%;
    }
    
}


/*  demo decor */


input {
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #999;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 0px #ddd;
}



.date {
  font-family: 'Open Sans', sans-serif;
  color: #111;
  max-width: 110px;
  min-height: 32px;
  text-align: center;
  font-size: 14px;
  
  position: relative;
}

.date-time {
  max-width: 160px;
}

.time {
  min-width: 110px;
}

.date:focus {
  border-color: #333;
}

.fa-calendar {
  cursor: pointer;
  font-size: 20px;
  padding: 4px;
  vertical-align: middle;
  color: #555;
}

.fa-calendar:hover {
  color: #333;
}

.date::-webkit-inner-spin-button,
.date::-webkit-outer-spin-button,
.date::-webkit-calendar-picker-indicator,
.date::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
  margin: 0;
}

.date::-webkit-datetime-edit-text,
.date::-webkit-datetime-edit-hour-field,
.date::-webkit-datetime-edit-minute-field,
.date::-webkit-datetime-edit-second-field,
.date::-webkit-datetime-edit-ampm-field {
  color: #666;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.img2 {
  float: right;
}
.clearfix{
	
  padding: 5px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color:black;
	background-color: #fff4df;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #89287c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
