@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Sintony';
/* CSS Document */
body{
	background-color: #fff;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 0px;
	overflow-y: auto;
}
main{
	display: flex;
	justify-content: center;
	height: 100vh;
	user-select: none;
	
}
*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
.topnav {
  overflow: hidden;
  background-color: #89287c;
}

.topnav a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color:#FFF4DF;
  color: black;
}
.topnav .icon {
  display: none;
}

.container{
	width: 1500px;
	display: flex;

	/*flex-wrap: wrap;*/
	
}
.mainbox{
	position: relative;
	width: 280px;
	height: 400px;
	border-radius: 10px;
	background: #CAB9F1;
	box-shadow: 0 30px 30px rgba(0,0,0,0.6);
	overflow: hidden;
	display: flex;
}
/*h2{

padding: -5px;
    margin: -20px;
	font-size: 10vh;
	 font-family: 'Herr Von Muellerhoff';
	
	position: absolute;
	top: -5%;
	left: 30%;
	text-align: center;
	color: black;
  text-shadow: 2px 2px 4px #fff;
}*/
.mainbox .imgbox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.mainbox .imgbox img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.5s;
}
.mainbox:hover .imgbox img{
	opacity: 0;
}
.mainbox .details{
	position: absolute;
	left: 37%;
	width: 90px;
	height: 90px;
	bottom: 30px;
	border-radius: 50%;
	background: linear-gradient(147deg,#efa82c 20%,#FFf 74%);
	overflow: hidden;
	color: #292929;
	transition: all .5s ease;
}
.mainbox .details h3{
	text-align: center;
	font-family: 'centry gothic';
	font-weight: 700;
	margin-top: 31px;
	color: black;
}
.mainbox .details .information{
	display: none;
	margin: 20px;
	text-align: center;
	padding: 10px;
	color: black;
	border-radius: 10px;
	height: 280px;
	/*border: 1px solid #fff;*/
	font-family: 'Centry Gothic';
	font-size: 15px;
}
.mainbox:hover .details{
	left: 0;
	width: 100%;
	height: 100%;
	bottom: 0px;
	border-radius: 0;
}
.mainbox .details:hover .information{
	display:block;
}
.help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #efa82c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
	z-index:999;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}  
.content-area {
  display: -webkit-box;
  display: flex;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
	color:#EFA82C;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
#logo{
	float:left;
}
.content-area {
  display: -webkit-box;
  display: flex;
}

.site-main {
  width: 75%;
}

.sidebar-area {
  background-color: #Fff4df;
  color: #89287c;
  position: relative;
  width: 400px;
  font-size: 20px;
}

.side-navigation.fixed {
  position: fixed;
  top: 0;
  width: 300px;
}
.side-navigation.bottom {
  position: absolute;
  bottom: 0;
  top: auto;
  width: 300px;
}
.side-navigation .menu {
  padding: 20px;
  list-style-type: none;
}
.side-navigation .menu-item {
  position: relative;
}
.side-navigation .menu-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #efa82c;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
}
.side-navigation .menu-item:hover:before {
  width: 100%;
}
.side-navigation .menu-item a {
  color: black;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 18px 50px;
}
.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

p {
  line-height: 1.5em;
}

h1 + p, p + p {
  margin-top: 10px;
}

.container {
  padding: 40px 80px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

.card-wrap {
  margin: 10px;
  -webkit-transform: perspective(800px);
          transform: perspective(800px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}
.card-wrap:hover .card-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  -webkit-transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-wrap:hover .card-bg {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  -webkit-box-flex: 0;
          flex: 0 0 240px;
  width: 240px;
  height: 340px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
  position: relative;
  z-index: 1;
}
.card-info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



a {
  color: #35a785;
  text-decoration: none;
}

/* -------------------------------- 
-------------------- 

Main components 

-------------------------------- */
header {
  height: 300px;
  line-height: 300px;
	
  text-align: center;
  background-color: #5e6e8d;
  color: #FFF;
}
header h1 {
  font-size: 20px;
  font-size: 1.25rem;
	margin-bottom: 100px;
}
.cd-popup-trigger {
 /* display: block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  margin: 3em auto;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50em;
  /*background: #35a785;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);*/
}
/* -------------------------------- 

xpopup 

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  overflow:scroll;
  width: 100%;
  height:100%;
  background: #fff4df;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translatex(-400px);
  -moz-transform: translatex(-400px);
  -ms-transform: translatex(-400px);
  -o-transform: translatex(-400px);
  transform: translatex(-400px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.cd-popup-container p {
  padding: 0px;
  margin:0px;
 
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: -190px;
  margin-top: 20px;
	overflow-y: auto;
  height: 330px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: " ";
  display:table;
  clear: both;
}




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.cta {
	display: block;
	background-color: plum;
	padding: 1.0%;
	margin-right: 20% auto;
	width: 20%;
	text-align: center;
	color: white;
	border-radius: 15px;
	box-shadow: 0 15px 10px -10px rgba(0,0,0,0.4);
	transition: all .3s ease-in-out;
  font-size: 1.3em;
  letter-spacing: 0.105em;
}

.cta:hover {
  box-shadow: 0 35px 20px -20px rgba(0,0,0,0.2);
  transform: scale(1.1) translateY(-10px);
}

#overlay {
	background-color: rgba(0,0,0,0.65);
	position: absolute;
	left: 0;
	top: -100%;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all .5s ease-in-out;
}

#popup {
	width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-120%, -120%) scale(0) rotate(-50deg);
	background: #dadada;
	position: absolute;
	padding: 2.5%;
	border-radius: 10px;
	height: 80%;
	opacity: 0;
	transition: all .7s cubic-bezier(0.42, 0, 0.62, 1.28) .7s;
  transform-origin: top left;
}

#close-button {
	position: absolute;
	right: -15px;
	top: -15px;
	
  color: black;
	height: 25px;
	width: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 1.3em;
	border-radius: 5px;
  transition: all .3s linear;
}

#close-button:hover {
  color: red;
}

#popup h3 {
	margin-bottom: 1%;
}

#overlay:target {
	opacity: 1;
	pointer-events: all;
  transform: translateY(100%);
}

#overlay:target #popup {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1) rotate(0);
}

#close_popup:target #overlay {
	opacity: 0;
	pointer-events: none;
	transition: all .5s ease-in-out .5s;
}

#close_popup:target #popup {
	transition: all .5s cubic-bezier(0.42, 0, 0.62, 1.28);
	opacity: 0;
	transform: translate(100%, -50%) scale(0) rotate(25deg);
}


header {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.section {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  letter-spacing: 4px;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
}
.section .fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
}
.section .white {
  color: #fff;
}

.section:nth-child(1) {
  background-color: #fff;
  color: #000;
  top: 0;
  z-index: 1;
}
.section:nth-child(1) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(2) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #c2850a;
  color: #fff;
  top: 100vh;
  z-index: 2;
}
.section:nth-child(2) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(3) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #0a0ac2;
  color: #fff;
  top: 200vh;
  z-index: 3;
}
.section:nth-child(3) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(4) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #85c20a;
  color: #fff;
  top: 300vh;
  z-index: 4;
}
.section:nth-child(4) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(5) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #850ac2;
  color: #fff;
  top: 400vh;
  z-index: 5;
}
.section:nth-child(5) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(6) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #0ac20a;
  color: #fff;
  top: 500vh;
  z-index: 6;
}
.section:nth-child(6) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(7) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #c20a85;
  color: #fff;
  top: 600vh;
  z-index: 7;
}
.section:nth-child(7) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(8) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #0ac285;
  color: #fff;
  top: 700vh;
  z-index: 8;
}
.section:nth-child(8) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(9) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #c20a0a;
  color: #fff;
  top: 800vh;
  z-index: 9;
}
.section:nth-child(9) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(10) {
  background-color: #000;
  color: #fff;
  top: 900vh;
  z-index: 10;
}
.section:nth-child(10) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.oop {
  position: relative;
  z-index: auto;
  height: 10px;
  background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.img2 {
  float: right;
}
.clearfix{
	 border: 3px solid grey;
  padding: 5px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color:black;
	background-color: #fff4df;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #89287c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}