@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  

 

}

.topnav {
  overflow: hidden;
  background-color: #C52348;
}

.topnav a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color:#FFF4DF;
  color: black;
}

p{
	margin-right: 60px;
	margin-left:60px;
	font-size: 16px;
    line-height: 1.7em;
	position: relative;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color:black;
	background-color: #fff4df;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #c52348;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}


ul {
  list-style: none;
  position: relative;
}

.bubble {
  background: #c52348;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 140px 80px 90px 410px;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: absolute;
	
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}
.bubble>button:focus {
  outline: 0;
}
.bubble.menu {
  transform: scale(3.45);
  width:50px;
  height:50px;
  line-height: 50px;
  z-index: 5;
  
  
  
}
.bubble.menu > button {
  border: 0 solid transparent;
  background: transparent;
  width: 100%;
  height: inherit;
  color: #fff4df;
  margin: 0 auto;
  line-height: 100%;
  font-size: 1.5em;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}
.bubble.menu.active {
  transform: scale(1.5) rotate(45deg);
	box-shadow: 1px 2px 4px;
}
.bubble.menu.active ~ .bubble:nth-of-type(2) {/*stress relief*/
  transform: translate(160px, 70px);
	box-shadow: 1px 2px 4px;
}
.bubble.menu.active ~ .bubble:nth-of-type(3) {/*enjoyment*/
  transform: translate(50px, 150px);
  transition-delay: 0.2s;
	box-shadow: 1px 2px 4px
}
.bubble.menu.active ~ .bubble:nth-of-type(4) {/*focus*/
  transform: translate(180px, -60px);
  transition-delay: 0.4s;
	box-shadow: 1px 2px 4px;
}
.bubble.menu.active ~ .bubble:nth-of-type(5) {/*cravings*/
  transform: translate(-200px, 80px);
  transition-delay: 0.4s;
	box-shadow: 1px 2px 5px;
}
.bubble.menu.active ~ .bubble:nth-of-type(6) {/*routine*/
  transform: translate(120px, -160px);
  transition-delay: 0.4s;
	box-shadow: 1px 2px 4px;
}
.bubble.menu.active ~ .bubble:nth-of-type(7) {/*friends*/
  transform: translate(-210px, -60px);
  transition-delay: 0.4s;
	box-shadow: 1px 2px 4px;
}
.bubble.menu.active ~ .bubble:nth-of-type(8) {/*relaxation*/
  transform: translate(-10px, -190px);
  transition-delay: 0.4s;
	box-shadow: 1px 2px 4px;
}
.bubble.menu.active ~ .bubble:nth-of-type(9) {/*energy*/
  transform: translate(-125px, -160px);
  transition-delay: 0.4s;
	box-shadow: 1px 2px 4px;
}
.bubble.menu.active ~ .bubble:nth-of-type(10) {/*calm panics*/
  transform: translate(-80px, 150px);
  transition-delay: 0.4s;
	box-shadow: 1px 2px 4px;
}


.button{
    background-color: #c52348;
	position: absolute;
	
    color: black;
    border: 2px solid #c52348;
    border-radius: 8px;
    margin: 300px 800px;
    width: 100px;
    box-shadow: 0 8px 19px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	float: right;
}
.button:hover{
	background-color:#C52348;
	color:#fff4df;	
}

#logo{
	float:left;
}
.popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.75);
	z-index:998;
}

/* Inner */
.popup-inner {
	max-width:700px;
	width:50%;
	padding:10px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:3px;
	background:#fff4df;
}

/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
}

.popup-close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:rgba(0,0,0,1);
	text-decoration:none;
}
p + p {
    margin-top: 20px;
}


a{
	text-decoration:none;
	color:#fff4df;
}
.textdecor{
	text-align: center;
	font-size: 19px;
	
}
.textdesign{
	color:#c52348;
	text-align: center;
	font-size: 25px;
}
.headdesign{
	text-align: center;
}
.help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #efa82c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
	z-index:999;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}  
.content-area {
  display: -webkit-box;
  display: flex;
}

.site-main {
  width: 75%;
}

.sidebar-area {
  background-color: #fff4df;
  position: relative;
  width: 400px;
  font-size: 20px;
  color: #c52348;
}

.side-navigation.fixed {
  position: fixed;
  top: 0;
  width: 300px;
}
.side-navigation.bottom {
  position: absolute;
  bottom: 0;
  top: auto;
  width: 300px;
}
.side-navigation .menu {
  padding: 20px;
  list-style-type: none;
}
.side-navigation .menu-item {
  position: relative;
}
.side-navigation .menu-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #efa82c;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
}
.side-navigation .menu-item:hover:before {
  width: 100%;
}
.side-navigation .menu-item a {
  color: black;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 18px 50px;
}
.btn-link {
  color: #c52348;
  border-bottom: 1px dotted #0FC03E;
  font-weight: 700;
}
.btn {
  background-color: transparent;
  border: 0;
  display: inline-block;
}

.btn-link {
  border-bottom: 1px dotted;
}
.tooltip-wrap {
  display: inline;
  max-width: 100%;
  position: relative;
  
}
.tooltip {
  background-color: #Efa82c;
  display: block;
  -webkit-filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.4));
  /* 1 */
  font-size: 20px;
  padding: 1.0em;
  position: absolute;
  top: 100%;
  margin:10px;
}
.tooltip:before {
  content: '';
  border: 15px solid transparent;
  border-top-color: #Efa82c;
  position: absolute;
  right: 1.6em;
  top: -28px;
  transform: scaleY(-1);
  
}

.tooltip a {
  color: inherit;
}

.tooltip-in {
  -webkit-animation: fade-in 0.20s ease-in-out forwards, tooltip-in 0.25s ease-in-out forwards;
          animation: fade-in 0.20s ease-in-out forwards, tooltip-in 0.25s ease-in-out forwards;
}

.tooltip-out {
  -webkit-animation: fade-in 0.20s ease-in-out forwards reverse, tooltip-out 0.25s ease-in-out forwards;
          animation: fade-in 0.20s ease-in-out forwards reverse, tooltip-out 0.25s ease-in-out forwards;
}

/* ==========================================================================
   $Animations
   ========================================================================== */
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes tooltip-in {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  25% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  35% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  45% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  55% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  65% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes tooltip-in {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  25% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  35% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  45% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  55% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  65% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes tooltip-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes tooltip-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
.btn-gradient {
	text-decoration: none;
	color: white;
	padding: 10px 30px;
    margin: 380px 800px;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-gradient.red{ 
	background: rgb(197, 35, 72);
	
}
.btn-gradient.red:active 	  {background: #c52348;}