@charset "utf-8";
.topnav {
  overflow: hidden;
  background-color: #C52348;
  
}
body{
	margin: 0;
	font-family :Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.topnav a {
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color:#FFF4DF;
  color: black;
}
.topnav .icon {
  display: none;
}
.help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #efa82c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,

fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "";
  vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*style*/


.section {
	position:relative;
    top: 50px;
    margin: 0 auto;
    width: 1094px;
    max-height: 950px;
	height: 800px;
}

ul {
  list-style: none;
  width:290px;
  font-size: 1.00em;
  position:absolute;
  padding: 10px;
}

ul#terms {
  left: 200px;
}

ul#defs {
  left: 500px;
  
}

ul#terms li {
  background: #c52348;
  color: #EFA82C;
}

ul#defs li {
  color: #C52348;
  background:#efa82c;
}

li {
  float: left;
  height: 220px;
  width: 120px;
  margin: 12px;
  position:relative;
  padding: 0px;
  background: white;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-out;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 1);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 1);
}

li:hover {
  transform: scale(1.05, 1.05);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 1);
}

li[data-selected] {
  transform: scale(1.05, 1.05);
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.75);
  outline: 4px solid black;
}

ul li span {
  width: 100px;
  height: 180px;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-left: 15px;
  padding-top:13px;
  transform: none;
  transition: opacity 0.2s ease-out;
}

span:hover {
  transform:none;
}

.button1 {
  position: absolute;
  padding: 0px;
  margin: 10px;
  width: 100px;
  height: 30px;
  left: 790px;
  top:778px;
  font-weight: bold;
  transition: background-color 0.3s ease-out;
  background-color: #c52348;
  border-radius: 3px;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 1);
}

.button1:hover {
  background-color: #C52348;
  cursor: pointer;
}

.button1:active {
  box-shadow: none;
  outline: none;
  transform: scale(0.95, 0.95);
}

.button1:focus {
  outline: none;
}

/* styles for button 2*/
.fadeOut li span {
  transition: opacity 0.25s ease-out;
  opacity: 0;
}

.fadeOut li {
  transition: transform .5s ease-out;
  transform: rotateX(360deg);
}
.score {
  background: none!important;
  box-shadow: none;
  color: #fff!important;
  background: green !important;
  border-radius: 15px;
}
.score:hover {
  cursor: default;
  transform: none;
  box-shadow: none;
}

.button{
  position: absolute;
  padding: 0;
  width: 107px;
  height: 30px;
  left: 640px;
  top: 950px;
  font-weight: bold;
  transition: background-color 0.3s ease-out;
  border-radius: 3px;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 1);
	background-color: #c52348;
	margin: 952px 230px;
	display: inline-block;
}
.button:hover{
	background-color:#C52348;
		
}
#logo{
	float:left;
}
.content-area {
  display: -webkit-box;
  display: flex;
}

.site-main {
  width: 75%;
}

.sidebar-area {
  background-color: #fff4df;
  position: relative;
  width: 400px;
  font-size: 19px;
  color: #c52348;
  height: 650px;
}

.side-navigation.fixed{
  position: fixed;
  top: 0;
  width: 300px;
}
.side-navigation.bottom {
  position: absolute;
  bottom: 0;
  top: auto;
  width: 300px;
}
.side-navigation .menu {
  padding: 20px;
  list-style-type: none;
}
.side-navigation .menu-item {
  position: relative;
}
.side-navigation .menu-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #c52348;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
}
.side-navigation .menu-item:hover:before {
  width: 100%;
}
.side-navigation .menu-item a {
  color: black;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 18px 50px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color:black;
	background-color: #fff4df;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #c52348;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

