@charset "utf-8";

/* CSS Document */
body{
	background-color: #fff;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin:0;
}
main{
	display: flex;
	justify-content: center;
	height: 100vh;
	user-select: none;
}
*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
html,div,span,h1,h2,h4,h5,h6,p,code,small,strike,strong,sub,sup,b,u,i
{
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
} 
        article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display:block;
	
} 
ol,ul
{
	list-style:none;
	
}
strong
{
	font-weight:700;
}
#frame
{
	max-width:620px;
	max-height: 700px
	width:auto;
	border:3px solid;
	background:#fff;
	padding:10px;
	margin:auto;
	height: auto;
}
h1
{
	font:normal bold 2em/1.8em "";
	text-align:center;
	border-bottom:1px solid #999;
	padding:0;
	width:auto
}
h2
{
	font:italic bold 1.3em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:0;
	text-align:center;
	margin:20px 0;
}
p.pager
{
	margin:5px 0 5px; 
	font:bold 1em/1em  "Linotype Praxis Next Cn Black";
	color:#999;
}
        img.question-image
{
	display:block;
	max-width:250px;
	margin:10px auto;
	border:1px solid #ccc;
	width:100%;
	height:auto;
}
#choice-block
{
	display: flex;
	width: 700px;
	height: 60px;
	border-radius: 50%;
	text-align:center;
	margin:10px -80px 10px;

	
	
}
        #submitbutton
{
	background:#c52348;
}
        #submitbutton:hover
{
	background:#fff4df;
}
        #explanation
{
	margin:0 auto;
	padding:20px;
	width:75%;
	font-size: 20px;
}
 .choice-box
{
	display:block;
	text-align:center;
	margin:8px auto;
	padding:10px 0;
	border:1px solid #666;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	font-size:17px;
	width:100px;
	
}
	

.topnav {
  overflow: hidden;
  background-color: #C52348;
}

.topnav a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color:#FFF4DF;
  color: black;
}
.topnav .icon {
  display: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color:black;
	background-color: #fff4df;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #c52348;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #C52348;
   color: white;
   text-align: center;
}
.lesson1{
	font-family: parkside, cursive;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
	color:#EFA82C;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
#logo{
	float:left;
}
.content-area {
  display: -webkit-box;
  display: flex;
}

.site-main {
  width: 75%;
}

.sidebar-area {
  background-color: #Fff4df;
  color: #c52348;
  position: relative;
  width: 400px;
  font-size: 20px;
}

.side-navigation.fixed {
  position: fixed;
  top: 0;
  width: 300px;
}
.side-navigation.bottom {
  position: absolute;
  bottom: 0;
  top: auto;
  width: 300px;
}
.side-navigation .menu {
  padding: 20px;
  list-style-type: none;
}
.side-navigation .menu-item {
  position: relative;
}
.side-navigation .menu-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #efa82c;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
}
.side-navigation .menu-item:hover:before {
  width: 100%;
}
.side-navigation .menu-item a {
  color: black;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 18px 50px;
}


.timeline-object:not(.complete) .timeline-status{
	background: #fff;
	border:4px solid #c5c5c5;
}
.timeline-object:not(.complete) .timeline-p h1{
	color:#8a8a8a;
	background: #dbdbdb;
	
}

.timeline-object{
	display: flex;
	align-items: center;
	margin-top: 100px;
	position: relative;
	
}
.timeline-object.complete:after{
	content: '';
	display: block;
	position: absolute;
	width: 4px;
	height: 150px;
	background-color:#c52348;
	left:23px;
	top:50px;
	transform: translateX(-50%);
}
.timeline-status{
	height: 46px;
	width:46px;
	border-radius: 50%;
	background: #c52348;
}
.timeline-p{
	margin-left: 15px;
}
.timeline-p h1{
	font-size: 22px;
	color:#c52348;
	background: #fff4df;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.timeline-p span{
	color:#103b27;
	font-size:16px;
	font-weight:500;
	font: italic;
}
.cease-timeline{
	background: #fff;
}

.help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #efa82c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
	z-index:999;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}