@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	
	font-family: 'Lato', sans-serif;}
div {
  background-color: lightgrey;
  width: 500px;
  border: 15px solid #fff4df;
  padding: 50px;
  margin: 20px;
}
.btn-gradient {
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-gradient.red{ 
	background: rgb(197, 35, 72);
	
}
.btn-gradient.red:active 	  {background: #c52348;}



.separator--line {
  border: 0;
  border-bottom: 5px solid #c52348;
  width: 0;
  -webkit-animation: separator-width 1s ease-out forwards;
          animation: separator-width 1s ease-out forwards;
}

@-webkit-keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}